<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Welcome to DerekBot</h2>
    <h4></h4>Click "How can we help?" in the lower right hand corner to get started.</h4>
</body>
</html>
